[submodule "extensions/glfw"]
	path = extensions/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extensions/stb"]
	path = extensions/stb
	url = https://github.com/nothings/stb.git
[submodule "extensions/glm"]
	path = extensions/glm
	url = https://github.com/g-truc/glm.git
[submodule "extensions/nanovg"]
	path = extensions/nanovg
	url = https://github.com/memononen/nanovg
